<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Asciibook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="toolbar">
      <div class="toolbar-title">
        <a href="/">
          Asciibook
        </a>
      </div>
      <div class="toolbar-action">
        <a href="https://asciibook.org/docs" class="button button-text">Docs</a>
      </div>
    </div>
    <div class="main">
      <div class="main-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
